.search-container {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 25px;      
  margin-bottom: 50px;   
}

.search-input {
  width: 320px;
  max-width: 90%;
  padding: 14px 18px;

  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  border-radius: 14px;
  border: 2px solid #6d93df; 
  outline: none;

  background-color: #ffffff;
  color: #111827;

  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #3200e6; 
  box-shadow: 0 0 10px rgba(35, 0, 230, 0.6);
  transform: translateY(-2px);
}


.search-input::placeholder {
  color: #9ca3af;
  font-weight: 500;
}


@media (max-width: 480px) {
  .search-input {
    width: 100%;
  }
}
