.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #1e293b; 
  border-radius: 10px;
  padding: 15px 20px;

  color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.todo:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.todo h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #ffffff;
}

.todo p {
  margin-top: 4px;
  font-size: 0.9rem;
  color: #cbd5e1; 
}


.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f87171;
  transition: transform 0.2s ease, color 0.2s ease;
}

/* Trash button hover */
.btn:hover {
  transform: scale(1.2);
  color: #ff4d4d; 
}
